@{
    ViewBag.Title = "About SASE";
}
<h2>@ViewBag.Title</h2>
<h3>SASE - Shea's Azure Storage Explorer</h3>

<p>SASE was built in the Summer of 2014 to learn and 'explore' the basics of coding with .NET MVC and of course Azure Storage.  
    This project is soley ment as an introduction to Azure Storage technologies and as such is not intended to seek gains in profit or consumer based traffic of any kind.  </p>