@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>If you wish to contact me.</h3>

<address>
    Currently bumming off friends for residence in Seattle<br />
    Bellevue or Kirkland, WA<br />
    <abbr title="Phone">P:</abbr>
    281-685-5120
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ingramsh85@gmail.com">ingramsh829@gmail.com</a><br />
</address>